body {
  margin:0;
  padding:0;
}


.hero, .footer, .header{
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
}

.header, .hero {
  justify-content: space-between;
  padding: 56px;
}

.footer {
  justify-content: center;
}

.right-links {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
  gap: 16px;
  margin-top: 20px;
}

.boxes {
  display:flex;
  gap: 52px;
}

button, .signup {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 16px;
}

.signup {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
}

.action {
  margin: 0px;
}

button {
  padding-left: 16px;
  padding-right: 16px;
  height: 20px;
}

.content {
  text-align: center;
  justify-content: space-between;
  align-content: center;
}

.action {
  display:flex;
  flex-direction: column;
}

.boxes {
  display: flex;
  padding: 56px;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  display: flex;
  flex-direction: column;
}
